.btn-submit {
	border: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	color: #7C3E66;
	padding: 20px;
}

.btn-reset {
	border: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	color: #7C3E66;
	padding: 20px;
}
