.slider-logos {
	padding-left: 20px;
	padding-right: 20px;
}
.slider-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
}
.slider-item {
	max-width: 260px;
	max-height: 160px;
	padding-right: 60px;
}
.services-container-items {
	padding-top: 50px;
}
