body {
    background-color: #F2EBE9;
}
h1{
    font-size: 2.0rem;
}
h1, h2, h3, h4, h5, h6, legend, label {
    color: #7C3E66;
    font-family: 'Quicksand', sans-serif;
}
  
p, main, div, li, select, fieldset {
    font-family: 'Roboto', sans-serif;
}

ol {
	font-family: 'Quicksand', sans-serif;
}
