.slider-services {
	background: linear-gradient(rgba(36, 58, 115, 0.7), rgba(36, 58, 115, 0.7)), url("https://cronicaglobal.elespanol.com/uploads/s1/86/70/61/5/teletrabajo.jpeg");
	background-size: cover;
	margin-bottom: 50px;
	padding: 120px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.title-page-services {
	text-align: center;
	color: white;
}
.slider-experience {
    background: linear-gradient(rgba(36, 58, 115, 0.7), rgba(36, 58, 115, 0.7)), url(https://img.freepik.com/foto-gratis/arreglo-bloc-notas-vacio-escritorio_23-2148854582.jpg?w=2000);
    background-size: cover;
    margin-bottom: 50px;
    padding: 120px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title-page-experience {
	text-align: center;
	color: #ffffff;
}
.title-experience {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.title-services {
	text-align: center;
	margin-top: 50px;
    margin-bottom: 50px;
}

